.home_background{
background-image: url('../images/House-in-the-woods.png');
background-repeat: no-repeat;
height:800px;
background-size: 100% 80%;
 margin: -10px -20px 0px -10px;
}

.pic_title{
    position:absolute;
    top:18em;
    left:8em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    /* color:rgb(206, 145, 53); */
    color:white;
}

#pic_header{
    font-size: 40px;
    font-weight: bold;

}

.pic_btn{
    margin-top: 10px;
    border-radius:7px;
border:1px solid lightgrey;
padding: 0.5em;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
width:100px;
transition:background-color;
}
