.dock_title{
    text-decoration: none;
    color:black;
    margin: 0 0 1em 18em ;
}

.docks_container{
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0 3em 0 3em;
    display:flex;
}
.mapContainer{
    position:fixed;
    right:0;
    height:80%;
    width:45%;
    overflow:hidden;
}


.dock_listings{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    box-shadow: 0 20px 48px rgb(0 0 0 / 35%);
    border-radius: 8px;
    margin:3em;
    height:360px;
    width:85%;

}
.listings{
    width:100%;
}
.dockaroos{
    position:relative;
    overflow: hidden;
    width: 55%;
}
.dock_image{
    box-shadow: 0 20px 48px rgb(0 0 0 / 15%);
   height:200px;
   width:350px;
   border-radius: 8px;
   margin: 0 1em;

}
.dock_content{
    display:flex;
}
i{
    color:#E04562;
}

.dock_info{

    padding: 25px;
    flex-direction:column;

}

.dock_rate{
    margin-top:70px;
    vertical-align: baseline;
}

.reserve_btn{
    background-color: #E04562;
    color:white;
    border-radius:5px;
    border:1px solid lightgrey;
    padding: 0.5em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    width: 200px;
    transition:background-color;
    /* float:right; */
    right:70em;


}

.reserve_btn:hover{
    background-color:#b83049
}

.dock_footer{
    display:flex;
    justify-content:space-between;
    font-weight: bold;
    margin:0 1em 15px 1em;
}

.dock_location{
    color: gray;

}
.dock_location, .dock_address, .dock_city, .dock_state {
    margin-bottom: 5px;
}
