.dock_title{
    text-decoration: none;
    color:black;
    margin: 0 0 0 30em;

}



.dock_listings{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-top:10px;
    box-shadow: 0 20px 48px rgb(0 0 0 / 35%);
    border-radius: 8px;
    margin:5em;
    padding:20px;
    padding-bottom: 40px;
}

.dock_image{
    box-shadow: 0 20px 48px rgb(0 0 0 / 15%);
   height:200px;
   width:350px;
   border-radius: 8px;
}

i{
    color:#E04562;
}

.dock_info{
    margin-top: 2em;
    display:inline-block;
    padding: 25px;
    flex-direction:column;
    vertical-align:top;
}

.dock_rating{
    margin-top:35px;
    vertical-align: baseline;
}

.reserve_btn{
    position: absolute;
    background-color: #E04562;
    color:white;
    border-radius:5px;
    border:1px solid lightgrey;
    padding: 0.5em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    width: 200px;
    transition:background-color;
    /* float:right; */
    right:13em;


}

.reserve_btn:hover{
    background-color:#b83049
}

.dock_price{
    margin-left: 100px;
    font-weight: bold;
}

.dock_location{
    color: gray;

}
